.App {
  text-align: center;
  background-color: white; /* Default background color for light mode */
  color: black; /* Default text color for light mode */
}

#dark {
  background-color: black; /* Background color for dark mode */
  color: aliceblue; /* Text color for dark mode */
}

/* Add any other dark mode styles for your components here */
.aman{
  height:100vh
}

.light {
  background-color: white;
  color: black;
}